@media only screen and (min-width:760px) and (max-width:950px){

#all-content-wrapper {
	width:95%;

}

}

/*
=======================
DESKTOP CSS
=======================
*/


@media screen and (min-width:760px){

#all-content-wrapper {
	width:80%;
	max-width:950px;
}

.desktop-show {
	display:block !important;
}

.mobile-show {
	display:none !important;
}

h1 {
	border-top: none;
	margin-top:1em;
}

/*
=======================
PLAYLIST BOX
=======================
*/

#playlist-wrapper-desktop {
	display:block;

}

/*
=======================
HEADER
=======================
*/

#main-logo {
	max-width:300px;
	display:inline-block;
}

#header-text {
	width:59%;
	font-size:1.1em;
}

#sonarcph, #sonardates {
	display:inline;
}


/*
=======================
NAVIGATION
=======================
*/

nav {
	display: block !important;
}

#navigation {
border-top:1px solid #333;
border-bottom:1px solid #333;
padding:10px 0;
margin-top:1em;
position:relative;

}

.nav-item {
	display:inline;
	border:none;
	padding:0 5px;
}


#socialmediaicons {
	position: inherit;
	display:inline-block;
	vertical-align: bottom;
}


/*
=======================
Homepage sections
=======================
*/


.homepage-div {
	margin:2em 0;
	overflow: auto;
}

.homepage-title{
	padding:1em 0;
	border-top:1px solid #333;
}


div.homepage {
	width:100%;
	margin-bottom:1em;
	overflow:auto;
}


div.table-box {
	display:table-cell;
	width:25%;
	float:left;
}


div.homepage div.align-bottom div.table-box{
	vertical-align:bottom;

}



/*
=======================
Venues
=======================
*/


div#venues  div.table-box {
	overflow:hidden;
    position: relative;
	width: 24.5%;
	padding-bottom: 24.5%;
	float: left;
	height: 0;
}

div#venues div.table-box {
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

div.table-box.pumpehuset {background-image:url('../images/venues/pumpehuset.png');}
div.table-box.huset {background-image:url('../images/venues/huset.png');}
div.table-box.forum {background-image:url('../images/venues/forum.png');}
div.table-box.lillevega {background-image:url('../images/venues/lillevega.png');}
div.table-box.storevega {background-image:url('../images/venues/storevega.png');}
div.table-box.culturebox {background-image:url('../images/venues/culturebox.png');}
div.table-box.loppen {background-image:url('../images/venues/loppen.png');}
div.table-box.rust {background-image:url('../images/venues/rust.png');}

div.venues-slide-in p {
	color:#2e3192;
	font-weight: bold;
	font-size:1em;
	padding:5px 0;

}

div.venues-slide-in {
	width:100%;
	padding-bottom:100%;
	height:0;
	background-color:white;
	margin:auto;
	text-align: center;
	margin-top:300px;
	-webkit-transition: all 0.4s ease;
  	-moz-transition:    all 0.4s ease;
 	-o-transition:      all 0.4s ease;

}

div.venues-slide-in div.important-button {
	width:60%;
	margin:auto;
}

div#venues div.table-box:hover div.venues-slide-in{
	margin-top:0;
	padding-top: 30%;
}

div.venues-slide-in:hover {
	margin-top:0;
	padding-top: 30%;
}

button#home-program {
	margin-top:30px;
}

/*
=======================
Connect
=======================
*/

div#connect div.homepage-connect {
	width:33.3%;
}

div#connect div.table-box {
	padding:0 10px;
}

.fb-like-box, .fb-like-box span, .fb-like-box span iframe[style] {
	width: 100% !important;
}

#news-box p {
	font-size: 0.9em;
	padding-top:10px;
}

#news-box p.news-info {
	padding:0 0 10px 0;
	font-size: 0.8em;
	color:#999;
}

/*
=======================
 sub-pages
=======================
*/

div.contestant {
	padding:10px 15px 10px 0;
	height:auto;
	position:relative;
}

div.artists {
	padding-bottom:25%;
	height:0;
	position:relative;
}

form#program-filter div.program-checkbox-wrapper {
	width:45%;
}

div.artists div.artist-image:hover div.artist-play {
	display:table-cell;
}
/*
=======================
Competition (subpage)
=======================
*/

#contestant-upload div.input-wrapper {
	-webkit-column-count:2; /* Chrome, Safari, Opera */
	-moz-column-count:2; /* Firefox */
	column-count:2;
	-webkit-column-gap:10px; /* Chrome, Safari, Opera */
	-moz-column-gap:10px; /* Firefox */
	column-gap:10px;
}

/*
=======================
Gallery
=======================
*/

.gallery-columns {
	-webkit-column-count:2; /* Chrome, Safari, Opera */
	-moz-column-count:2; /* Firefox */
	column-count:2;
	-webkit-column-gap:10px; /* Chrome, Safari, Opera */
	-moz-column-gap:10px; /* Firefox */
	column-gap:10px;
}

/*
=======================
About Us
=======================
*/

#sponsors img {
	width:24.5%;
}

/*
=======================
information page
=======================
*/


#google-maps{
	height: 600px;
}

}







