/*
=======================
CSS RESETS
=======================
*/

body,html, * {
	width:100%;
	padding:0;
	margin:0;
	 -moz-box-sizing: border-box; 
	 -webkit-box-sizing: border-box;
	 box-sizing: border-box;

}

ul {
	list-style-type: none;
	list-style: none;
	margin:0;
	padding:0;
}

button::-moz-focus-inner {
		border:0;
		padding:0
	}

button {
		width:auto;
		border:0 none;
		margin:0;
		padding:0;
		background:transparent;
		overflow:visible;
		cursor:pointer;
		/* Stupid IE */
		#vertical-align:middle; /* IE6,IE7 */
		color:red;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*
=======================
GENERAL
=======================
*/
 
  @font-face {
        font-family: 'icomoon';
        src:url('../extras/icomoon.eot');
        src:url('../extras/icomoon.eot?#iefix') format('embedded-opentype'),
            url('../extras/icomoon.woff') format('woff'),
            url('../extras/icomoon.ttf') format('truetype'),
            url('../extras/icomoon.svg#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
    }

@font-face {
font-family: 'Helvetica-Heavy';
src: url(../extras/HelveticaNeueLTStd-Hv.otf) format ('opentype');
}


body {
	 color:#333;
	 font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size:1em;
  padding-bottom:50px;
}

h1 {
	font-family:'Helvetica-Heavy', sans-serif;
	font-size; 1.5em;
	margin:1em 0;
	text-transform: uppercase;
	color:#2e3192;
}

h1:before {
    content: '\e602 ';
    font-family: 'icomoon';
    speak: none;
}   

h2 {
	font-family:'Helvetica-Heavy', sans-serif;
	font-size; 1.2em;
	padding:0.5em 0;
	color:#2e3192;
}

h3 {
	font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", 
  	Helvetica, Arial, "Lucida Grande", sans-serif;	font-size; 1.2em;
  	font-weight:bold;
	color:#2e3192;
}

.border-top {
	border-top:1px solid #333;
	margin-top:0.5em;
}

a {
	text-decoration:none;
}

a:hover {
	text-decoration: underline;
}

.important-button {
	background-color:#ff3f34;
	padding:5px;
	font-size:18px;
	color:white !important;
}

.important-button a:visited{
	color:white ;
}


.nowrap {
	white-space: nowrap;
}

#all-content-wrapper {
	width:90%;
	height:100%;
	margin:auto;
}

.desktop-show {
	display:none;
}

#stratus #player {
	z-index:200;
}
/*
=======================
icons
=======================
*/

.play-empty:before{

	content:' \e601';
	font-family: 'icomoon';
    speak: none;
}

.play-empty:hover:before {

	content:' \e600';
	font-family: 'icomoon';
    speak: none;
}

.heart-empty:before {

	content:' \e604';
	font-family: 'icomoon';
    speak: none;
}

.heart-empty:hover:before {

	content:' \e603';
	font-family: 'icomoon';
    speak: none;
}

/*
=======================
PLAYLIST BOX
=======================
*/
#playlist-wrapper-desktop {
	position:fixed;
	z-index:80;
	top:60%;
	left:-350px;
	width:385px;
	min-height:160px;
	background-color:#2e3192;
	color:white;

}


#playlist-wrapper-desktop img.playlist-text {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
	height: 100%;
	width: auto;
}

#playlist-wrapper-desktop #playlists {
	padding:5% 10% 5% 5%;
	line-height: 1.4em;
}

#playlists a {
	color:white;
}

#playlist-wrapper-mobile {
	position:fixed;
	z-index:100;
	bottom:60px;
	width:100%;
	height:300px;
	padding-bottom:;
	height:auto;
	background-color:#2e3192;
	color:white;

}

#playlist-wrapper-mobile #playlists {
	padding:0 10px 15px 10px;
	line-height:1.4em;
}

#playlist-wrapper-mobile  img.playlist-text {
	position:initial;
	width:50%;

}

#playlist-button-mobile {
	background-color:#2e3192;
	position:fixed;
	z-index:200;
	bottom:35px;
	color:white;
	padding:5px;
}

/*
=======================
HEADER
=======================
*/


#heading-wrapper {
	margin-top:1em;
	width:100%;
}

#main-logo, #header-text {
	width:40%;
	display:inline-block;
	vertical-align: bottom;
}

#header-text{
	padding-left:10px;
}

.buy-tickets {
	color:white !important;
	margin-top:0.3em;
}

/*
=======================
NAVIGATION
=======================
*/

#navigation {
	padding-top:20px;
}

.nav-item {
	padding:5px 0;
	border-top:1px solid #333;
}

li.nav-item a {
	color:#333;
}


.nav-socialmedia{
	width:30px;
	height:auto;
	padding: 10px 5px 0px 0px;
}

/*
=======================
SUB-PAGES
=======================
*/

.sub-page-content p {

padding:5px 0;  

}

.sub-page-content button.important-button {
	margin:10px 0;

}

