@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?ysrmzq');
	src:url('fonts/icomoon.eot?#iefixysrmzq') format('embedded-opentype'),
		url('fonts/icomoon.woff?ysrmzq') format('woff'),
		url('fonts/icomoon.ttf?ysrmzq') format('truetype'),
		url('fonts/icomoon.svg?ysrmzq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-play-full:before {
	content: "\e600";
}
.icon-play-empty:before {
	content: "\e601";
}
.icon-logoicon:before {
	content: "\e602";
}
.icon-heart-full:before {
	content: "\e603";
}
.icon-heart-empty:before {
	content: "\e604";
}
